
.card__image {
  display: block;
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/like-icon.svg);
  background-color: transparent;
  border: none;
  width: 23px;
  height: 20px;
  top: 425px;
  left: 390px;
  opacity: .4;
}

.card__like-button:hover {
  opacity: 1.0;
}

.card__title {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

@media screen and (max-width: 630px) {
  .card__image {
    grid-template-columns: (auto-fit, 288px);
  }

  .card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 95px;
  }
}