.card {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__image {
  display: block;
  height: 413px;
  margin-bottom: 12px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  cursor: pointer;
  background-image: url(../images/like-icon.svg);
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 23px;
  height: 20px;
  opacity: .4;
}

.card__like-button_clicked {
  background-image: url(../images/liked-button.svg);
  opacity: 1.0;
}

.card__like-button:hover {
  opacity: 1.0;
}

.card__like-button_clicked:hover {
  opacity: 0.7;
}

.card__delete-button {
  background-image: url(../images/delete-button.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  cursor:pointer;
  border: none;
}

.card__delete-button:hover {
  background-image: url(../images/delete-hover.svg);
}
.card__title {
  font-weight: 500;
  font-size: 20px;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  line-height: 1.2;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .card__title {
    text-overflow: ellipsis;
    max-width: 235px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }
}