.cards {
  padding-top: 20px;
}

.cards__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  border-bottom: 1px solid #21212166;
}

@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}


