.footer {
  display: flex;
  flex-direction: row;
}

.footer__copyright {
  justify-content: center;
  margin: 0 auto;
  padding: 60px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #212121B2;
}