.modal {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}


.modal_is-opened {
  visibility: visible;
  opacity:1;
  transition-delay:0s;
}

.modal__container {
  position: relative;
  max-width: 780px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
}

.modal__close-button {
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url(../images/close-icon.svg);
}

.modal__image-container {
    position:relative;
  }

.modal__image {
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
  }

.modal__caption {
    color: white;
    background-color: #212121;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 20px;
  }

.modal__close-button {
    top: 12px;
    right: 12px;
  }

.modal__close-button_type_preview {
    top: 0px;
    right: -52.5px;
    background-image: url(../images/preview-close.svg);
}

.modal__close-button_type_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  width: 100%;
  margin: 8px 0 0;
  border-radius: 8px;
  padding: 16px 12px;
  gap: 10px;
  opacity: 1;
  border-width: 1px;
  box-sizing: border-box;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0%;
  color: rgba(33, 33, 33, 0.7);
}

.modal__submit-button {
  cursor: pointer;
  max-width: 156px;
  height: 52px;
  border: none;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  background: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color:#FCF5E5;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}


@media screen and (max-width: 480px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    gap: 24px;
    font-size: 16px;
  }

  .modal__submit-button {
    max-width: 100%;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-button_type_preview {
  top: -48px;
  right: 0px;
}
}