.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  position: relative;
  max-width: 780px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url(../images/close-icon.svg);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  width: 100%;
  margin: 8px 0 0;
  width: 630px;
  border-radius: 8px;
  padding: 16px 12px;
  gap: 10px;
  opacity: 1;
  border-width: 1px;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0%;
  color: rgba(33, 33, 33, 0.7);
}

.modal__submit-button {
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  background: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color:#FCF5E5;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}


@media screen and (max-width: 630px) {
  .modal__form {
    max-width: 300px;
    gap: 24px;
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    gap: 24px;
    font-size: 24px;
  }

  .modal__submit-button {
    width: 276px;
    max-width: fill;
    justify-content: center;
    margin-top: 24px;
  }
}